<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 jumbotron">
    <h1>Login</h1>
    <form role="form" (submit)="login($event, email.value, password.value)">
      <div class="form-group">
        <label for="username">Email:</label>
        <input type="email" #email class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" #password class="form-control" placeholder="Password" pattern="[a-zA-Z0-9]{8,}" title="minimum 8 characters">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    Not a member? <a [routerLink]="['/Signup']">Register here</a>
  </div>
</div>