<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 well bs-component">
    <h2>Signup</h2>
    <form role="form" (submit)="signup($event, username.value, password.value, password_confirmation.value)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" #username class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" #password class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" #password_confirmation class="form-control" id="password_confirmation" placeholder="Password Confirmation">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>