<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 well bs-component">
    <h2>Signup</h2>
    <form role="form" (submit)="signup($event, email.value, password.value, password_confirmation.value)">
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" #email class="form-control" id="email" placeholder="Email" title="enter your email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" #password class="form-control" id="password" placeholder="Password" pattern="[a-zA-Z0-9]{8,}" title="minimum 8 characters">
      </div>
      <div class="form-group">
        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" #password_confirmation class="form-control" id="password_confirmation" placeholder="Password Confirmation" pattern="[a-zA-Z0-9]{8,}" title="minimum 8 characters">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>