<div class="row" *ngFor="#todo of todos">
	<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-10 col-sm-9 col-xs-8">
						<i class="glyphicon glyphicon-list-alt"></i> 
						<span *ngIf="!todo.editing" (dblclick)="editTodo(todo)">{{ todo.list_name }} </span>
						<input class="edit" *ngIf="todo.editing" [value]="todo.list_name" #editedTodo (blur)="stopEditingTodo(todo, editedTodo.value)" (keyup.enter)="updateEditingTodo(todo, editedTodo.value, todo.id)" (keyup.escape)="cancelEditingTodo(todo)">
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 text-right">
						<a href="#" (click)="editTodo(todo)"><i class="glyphicon glyphicon-pencil control-project"></i></a> |  
						<a (click)="deleteTodo(todo.id)"><i class="glyphicon glyphicon-trash control-project" ></i></a> 
					</div>
				</div>
			</div>
		    <div class="input-group add-task-panel">
		    	<span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
				<input #newTask (keyup.enter)="addTask(newTask.value, todo.id); newTask.value=''"
			        type="text" class="form-control"
			      placeholder="Start typing here to create to task." required >
				<span class="input-group-btn">
					<button class="btn btn-success" type="button" (click)="addTask(newTask.value, todo.id); newTask.value=''">Add Task</button>
				</span>
		    </div>
			<table class="table table-bordered list-tasks table-hover table-striped">
				<tbody>
					<tr *ngFor="#task of todo.todo_items #i=index">
						<td class="text-center">
							<input type="checkbox" [(ngModel)]="task.completed" [checked]="task.completed" (click)="toggleCompletion(task, todo.id)"class="form control text-center">
						</td>
						<td>
								<div [ngClass]="{'completed': task.completed}" *ngIf="!task.editing" (dblclick)="editTask(task)">
									{{ task.title }}
								</div>
								<input class="edit" *ngIf="task.editing" [value]="task.title" #editedtask (blur)="stopEditing(task, editedtask.value)" (keyup.enter)="updateEditingTask(task, editedtask.value, task.id, todo.id)" (keyup.escape)="cancelEditingTask(task)">
						</td>
						<td class="text-center ">
							<a href="#">
								<i class="glyphicon glyphicon-resize-vertical"></i>
							</a> |  
							<a  (click)="editTask(task)">
								<i class="glyphicon glyphicon-pencil"></i>
							</a> |  
							<a (click)="deleteTask(task.id, todo.id)" >
								<i class="glyphicon glyphicon-trash"></i>
							</a> 
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div  class="col-md-12 text-center">
		<input #newTodo (keyup.enter)="addTodo(newTodo.value, 1, todo_new); newTodo.value=''" *ngIf="todo_new.add" 
				type="text" placeholder="Enter name for new TODO." required >
		<button type="button" class="btn btn-primary btn-lg" (click)="addTodo(newTodo.value, 1, todo_new); newTodo.value=''" *ngIf="todo_new.add"  >
			<i class="glyphicon glyphicon-plus"></i> Create TODO List
		</button>
		<button type="button" class="btn btn-primary btn-lg" *ngIf="!todo_new.add" (click)="todoCreateState(todo_new)">
			<i class="glyphicon glyphicon-plus" ></i> Add TODO List
		</button>
	</div>
</div>